.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    text-align: center;
    flex-direction: column;
}
.signup-card {
    width: 25rem;
    height: 25rem;
    padding: 1rem;
    border: 1px solid #ccc;
}
.bottom-card {
    width: 25rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
}
@media only screen and (max-width: 600px) {
    .signup-card {
        width: 100%;
    }
    .bottom-card {
        width: 100%;
    }
}
