.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.signup-card {
    width: 20rem;
    height: 30rem;
    padding: 1rem;
    border: 1px lightgray solid;
    text-align: center;
}

.footer-card {
    width: 22rem;
    margin-top: 1rem;
    border: 1px lightgray solid;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .signup-card {
        width: 80%;
    }
    .footer-card {
        width: 80%;
    }
}