.videos-container {
    width: 50vh;
    height: 70vh;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #888888;
    background-color: lightgray;

    /* Add scroll bar to videos-container */
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.post-container {
    height: 70vh;
    width: 50vh;
    border-radius: 10px;
    position: relative;
}

.videos-container::-webkit-scrollbar {
    display: none;
}

.post-container > video  {
    height: 70vh;
    width: 50vh;
    object-fit: contain;
    background-color: lightgray;
    border-radius: 10px;
}

.video-info {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    left: 1rem;
    bottom: 1rem;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.post-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1.5rem; */
}

.post-btns > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}