<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .form-container {
            display: flex;
            flex-direction: column;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <h1>Register here</h1>

    <form action="/register" method="post">
        <div class="form-container">
            <label for="name">Enter your name:
                <input type="text" name="name" id="name">
            </label>
            <br>
            <label for="email">Enter your email:
                <input type="email" name="email" id="email">
            </label>
            <br>
            <label for="password">Enter your password:
                <input type="password" name="password" id="password">
            </label>
        </div>
        <button type="submit">Register</button>
    </form>

    <a href="/login">Login page</a>

</body>

</html>